<mat-grid-list cols="12" rowHeight="4rem">

  <mat-grid-tile [colspan]="5" [rowspan]="6">

    <mat-card>

      <mat-card-header>
        <mat-card-title>Operations</mat-card-title>
        <h1>Simulating a teammate's change(delete this)</h1>
        <h1>Simulating a teammate's change second round</h1>
        <h1>Simulating a teammate's change third round</h1>
      </mat-card-header>

      <mat-card-content>

        <mat-form [formGroup]="form">

          <mat-form-field appearance="outline" class="form-field">
            <h1>Simulating a teammate's change third round</h1>
            <h1>Simulating a teammate's change third round</h1>
            <h1>Simulating a teammate's change third round</h1>
            <mat-label>Operation Type</mat-label>
            <mat-select [value]="null" formControlName="opetype">
              <mat-option *ngFor="let opetype of opetypes" [value]="opetype">{{ opetype.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Module</mat-label>
            <mat-select [value]="null" formControlName="module">
              <mat-option *ngFor="let module of modules" [value]="module">{{ module.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Operation</mat-label>
            <h1>Check dev pull before push</h>
            <h1>Make change in local to Check dev pull before push</h>
            <h1>teammate make a change while I change my file</h>
            <input matInput formControlName="name">
          </mat-form-field>

          <div class="btn-row">
            <button mat-raised-button color="primary" (click)="add()" [disabled]="!(enaadd && hasInsertAuthority)">
              <mat-icon>save</mat-icon>
              Save
            </button>
            <button mat-stroked-button (click)="clear()">
              <mat-icon>clear</mat-icon>
              Clear
            </button>
            <button mat-stroked-button (click)="update()" [disabled]="!(enaupd && hasUpdateAuthority)">Update</button>
            <button mat-stroked-button (click)="delete()" [disabled]="!(enadel && hasDeleteAuthority)">Delete</button>
          </div>

        </mat-form>
      </mat-card-content>

    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="7" [rowspan]="11">

    <mat-card>

      <mat-card-header>
        <mat-card-title>Search Operation</mat-card-title>
      </mat-card-header>

      <mat-card-content>

        <mat-form [formGroup]="ssearch">

          <div class="search-row-pill">

            <select class="pill-select" formControlName="ssmodule">
              <option [ngValue]="null">Search by module</option>
              <option *ngFor="let module of modules" [value]="module.id">{{ module.name }}</option>
            </select>

            <select class="pill-select" formControlName="ssopetype">
              <option [ngValue]="null">Search by operation type</option>
              <option *ngFor="let opetype of opetypes" [value]="opetype.id">{{ opetype.name }}</option>
            </select>

            <button class="pill-search-btn" (click)="btnSearchMc()">
              <mat-icon>search</mat-icon>
            </button>
          </div>

          <div class="btn-row">
            <button mat-stroked-button class="clear-btn" (click)="btnSearchClearMc()">
              <mat-icon>clear</mat-icon>
              Clear Search
            </button>
          </div>

        </mat-form>

        <mat-table [dataSource]="data">

          <ng-container *ngFor="let column of columns;let i = index;" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef> {{ headers[i] }}</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ uiassist.getProperty(element, binders[i]) }}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columns;" (click)="fillForm(row)"
                   [ngClass]="{'selected-row': row === selectedrow}"></mat-row>

        </mat-table>

        <mat-paginator [length]="20" [pageSize]="10" [pageSizeOptions]="[10,15,20]"></mat-paginator>

        <h1>last check</h1>
        
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
